<button data-feedcatch-close><%- close %></button>

<% if (screen === 'choose-option') { %>
<header data-feedcatch-header>
  <h1 data-feedcatch-heading-one>Feedback</h1>
</header>

<div data-feedcatch-type-box>
  <div data-feedcatch-label>Rate your experience</div>
  <div data-feedcatch-items>
    <% npsValues.forEach(function(npsValue) { %>
    <button
      data-feedcatch-item
      data-feedcatch-item-nps
      data-feedcatch-value="<%= npsValue.value %>"
    >
      <%- npsValue.svg %>
    </button>
    <% }); %>
  </div>
</div>

<div data-feedcatch-type-box>
  <div data-feedcatch-label>or choose a type</div>
  <div data-feedcatch-items>
    <% types.forEach(function(type) { %>
    <button
      data-feedcatch-item
      data-feedcatch-item-type
      data-feedcatch-value="<%= type.value %>"
    >
      <%- type.svg %>
      <span data-feedcatch-item-label><%= type.label %></span>
    </button>
    <% }); %>
  </div>
</div>
<% } else if (screen === 'give-feedback') { %>
<header data-feedcatch-header data-feedcatch-header-with-icon>
  <div data-feedcatch-rounded-icon data-feedcatch-value-icon><%- svg %></div>
  <div data-feedcatch-heading-wrapper>
    <h1 data-feedcatch-heading-two><%= label %></h1>
    <div data-feedcatch-heading-sub><%= description %></div>
  </div>
</header>

<form data-feedcatch-form>
  <textarea
    data-feedcatch-textarea
    name="message"
    placeholder="Write here..."
  ></textarea>

  <div data-feedcatch-actions>
    <button
      data-feedcatch-button
      data-feedcatch-button-link
      data-feedcatch-back
      type="button"
    >
      Back
    </button>
    <button
      data-feedcatch-button
      data-feedcatch-button-primary
      data-feedcatch-submit
      type="submit"
    >
      Send
    </button>
  </div>
</form>

<% } %>

<footer data-feedcatch-footer>Powered by FeedCatch</footer>
